= render 'shared/left_sidebar'
.span9
	= bootstrap_flash
	= form_for(:password_info, :url => update_user_path, :method => :post, :html => { :class => 'formhorizontal' } ) do |form|
		%fieldset
			%h3
				Change Your Password
			%br
			- unless current_user.errors.blank?
				%p
					.alert-error
						= render 'shared/form_errors', :errors => current_user.errors
			%table
				%tr{class: 'control-group.required'}
					%th
						= form.label 'current', 'Current password', :class => 'control-label'
					%td{class: 'controls'}
						= form.password_field 'current', value: (params[:password_info][:current] rescue '')
				%tr{class: 'control-group.required'}
					%th
						= form.label 'new', 'New password', :class => 'control-label'
					%td{class: 'controls'}
						= form.password_field 'new', value: (params[:password_info][:new] rescue '')
				%tr{class: 'control-group.required'}
					%th
						= form.label 'new_confirmation', 'New password (confirmation)', :class => 'control-label'
					%td{class: 'controls'}
						= form.password_field 'new_confirmation', value: (params[:password_info][:new_confirmation] rescue '')
				%tr
					%td{:colspan => 2}
						.actions
						= form.submit('Save', :class => "btn btnprimary")
						= link_to('Cancel', '/', :class => "btn")
